<div>
    <div class="profile">
        <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="no image">
        <h3>Admin</h3>
        <h4>admin1234@gmail.com</h4>
        
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employees</a>
        <a routerLink="gallery">Gallery</a>

    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contact"><mat-icon>contacts </mat-icon>Contact</a>
        <a routerLInk="leads"><mat-icon>leaderboard </mat-icon>leads
        </a>
    </div>

</div>
