.profile{
    text-align: center;

}
.profile img{
width: 120px;
height: 120px;
margin-top: 10px;
object-fit: contain;
}
.Profile h3{
    font-weight: 800;
    margin-bottom: 0px;
}
.profile h4{
    font-size: medium;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 0;
}
.pages{
    display: flex;
    flex-direction: column;
}
.pages a{
    text-decoration: none;
    color: black;
    height: 40px;
    padding: 10px 0 0 10px;
}
.pages a:hover{
    background-color: bisque;
}
mat-icon{
    vertical-align: middle;
    margin-right: 14px;
}