<!-- card -->
<div class="cards">

    <!-- card 1 -->
    <mat-card>
          
    <app-card bg="orange" 
    icon="person" 
    description="student"
    count="2000"> </app-card>
      </mat-card>
   
      <!-- card 2 -->
      <mat-card >
          
        <app-card 
        bg="red" 
        icon="home" 
        description="institution"
        count=5000> </app-card>
          </mat-card>
   
          <!-- card 3 -->
          <mat-card>
          
            <app-card bg="green" 
            icon="groups" 
            description="employees"
            count=1000> </app-card>
              </mat-card>
           <!-- card 4 -->

           <mat-card>
          
            <app-card bg="blue" 
            icon="dashboard" 
            description="placements"
            count=1500> </app-card>
           
              </mat-card>
         
</div>

<!-- area chart -->

<div class="area">
    <app-area-chart></app-area-chart>

</div>
<!-- table and pie chart -->
<div class="tablepie">

    <!-- table -->
    <div>
        <app-table></app-table>
    </div>
    <!-- pie chart -->
    <div>
      <app-piechart></app-piechart>  
    </div>

</div>


   
